.comp {
  width: 100%;
  height: 100vh;
  background: url(../../Assests/back-main-1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3rem;
      color: #045ad2;
    }
  }
}
